@import "~bootstrap/scss/bootstrap";

//Kolorki
$pink: #f49ac0;
$darkPink: #ce3168;
$green: #a9d48c;
$darkGreen: #2c9b68;
$orange: #fecc99;
$darkOrange: #d16632;
$blue: #9ec9eb;
$darkBlue: #2e99cd;


*{
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}

i{
    font-size: 110px;
}

h1{
    color: #fff;
}

body{
    background-image: url('../img/misieBG1.jpg');
    background-size: cover;
}

#topbar{
    height: 10vh;
    text-align: center;
}
#root{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.list {
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    min-height: 70%;
    transition: all .2s ease-in-out;
     * {
         margin: 15px 0 15px 0;
     }
     h4 {
         margin-top: 0;
         background: none;
         font-size: 20px;
     }
}

.add{
     width: 20%;
     padding: 10px;
     border-radius: 20px;
     min-height: 50%;
     display: flex;
     flex-direction: column;
     transition: all .2s ease-in-out;
     justify-content: center;
     align-items: center;
     *{
         margin: 10px 0 10px 0;
     }
}

.list:hover,
.add:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.line {
    width: 50%;
    height: 3px;
    background: #fff;
}

.progressBarBorder {
    width: 60%;
    height: 15px;
    border: 4px solid;
}

.pink{
    background-color: $pink;
    color: $darkPink;
    border-color: $darkPink;
}

.green{
    background-color: $green;
    color: $darkGreen;
    border-color: $darkGreen;
}

.orange{
    background-color: $orange;
    color: $darkOrange;
    border-color: $darkOrange;

}

.blue{
    background-color: $blue;;
    color: $darkBlue;
    border-color: $darkBlue;
}

.button{
    position: relative;
    left: 328px;
    border-bottom:3px solid pink;
    background-color: brown;

}
.taskColor{
    height: 10%;
    width: 80%;
    background-color: palevioletred;
    border-radius: 5px;

}

@media only screen and (max-width: 1082px){
    h2{
        font-size: 28px;
    }
}

@media only screen and (max-width: 990px){
    #root {
        height: fit-content;
        justify-content: flex-start;
    }

    .add{
        align-self: stretch;
    }

    .list, .add{
        flex-basis: 50%;
    }
}

@media only screen and (max-width: 650px){

    #root{
        flex-direction: column;
        height: fit-content;
        flex-wrap: nowrap;
    }

    .list, 
    .add{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        * {
            flex-basis: 50%;
        }
        i {
            text-align: center;
        }
         h4 {
             display: none;
         }
         .line {
             display: none;
         }
         .progressBarBorder {
             display: none;
         }
    }
}